{% extends "./base.html" %}
{% load static %}
{% block title %}Unikalon{% endblock %}
{% block content %}


<main>

  <section class="py-5 text-center container">
    <!--div class="row py-lg-3">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="h1 fw-bold">Search, Read, Buy, Review</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator,
          etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Make an account</a>
        </p>
      </div>
    </div--!>

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 0"></button>
	{% for carousel in carousels|slice:"1:" %}
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter }}" aria-label="Slide {{ forloop.counter }}"></button> 
        {% endfor %}
      </div>
      <div class="carousel-inner">
        {% for carousel  in carousels|slice:"0:1" %}
            <div class="carousel-item active">
		<a href="{{ carousel.url }}" role="button">
                    <img src="{{ carousel.image_thumbnail.url }}" class="d-block w-100" alt="{{ carousel.id }}" />
                </a>
            </div>
	{% empty %}
            <li>No Carousel figures yet.</li>							 
	{% endfor %}

        {% for carousel  in carousels|slice:"1:" %}
	    <div class="carousel-item">
		 <a href="{{ carousel.url }}" role="button">
	             <img src="{{ carousel.image_thumbnail.url }}" class="d-block w-100" alt="{{ carousel.id }}" />
		 </a>
            </div>
        {% endfor %}

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <!--div class="pb-3 h5">All Books</div--!>
      <h4 style="text-align: center;">Products</h4>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">

        {% for product in products %}

        <div class="col">
          <div class="card shadow-sm">
            <img class="img-fluid" alt="Responsive image" src="{{ product.image.url }}">
            <div class="card-body">
              <p class="card-text">
                <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">{{ product.title }}</a>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <!--small class="text-muted">9min read</small-->
              </div>
            </div>
          </div>
        </div>

        {% endfor %}

      </div>
    </div>

    <div class="container">
        <h4 style="text-align: center;">Lighting Deal</h4>
    </div>   
  </div>


</main>

{% endblock %}
